@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

.container{

}

.row{

}

li{
    list-style-type: none;
}

section{
    background-color: rgb(245, 245, 245);
}

/* NAVIGATION */

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.logo__container{
    margin-left: 30px;
    width: 3%;
}

#personal-logo{
    width: 50px;
    height: 50px;
    filter: invert(1);
}



.nav__link--list{
    
    display: flex;
    margin-right: 40px;
    
}

.nav__link{
    margin: 0 12px;
    
}

.nav__link a{
    font-weight: bold;
}

.nav__link--anchor{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #242424;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: black;
}

.link__hover-effect:hover:after{
    opacity: 1;
    cursor: pointer;
}

.fa-adjust{
    font-size: 20px;
}

/* LANDING PAGE */

#landing-page{
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    margin: 30px;
}

.title{
    font-size: 120px;
}

.header__para{
    width: 45%;
    font-size: 24px;
    line-height: 2;
}

@media (max-width: 768px){
    
    .header{
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;
        margin: 30px;
    }

    .header__para{
        font-size: 20px;
        width: 70%;
    }
    
    .title{
        font-size: 70px;
    }
}



@media (max-width: 478px){
    
    .header{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;
        margin: 30px;
    }

    .title{
        font-size: 46px;
    }

    .header__para{
        font-size: 18px;
        width: 80%;
    }
    
}