@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

li{
    list-style-type: none;
}

section{
    background-color: rgb(245, 245, 245);
}

/* NAVIGATION */

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.logo__container{
    margin-left: 30px;
    width: 3%;
}

#personal-logo{
    width: 50px;
    height: 50px;
    filter: invert(1);
}



.nav__link--list{
    
    display: flex;
    margin-right: 40px;
    
}

.nav__link{
    margin: 0 12px;
    
}

.nav__link a{
    font-weight: bold;
}

.nav__link--anchor{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #242424;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: black;
}

.link__hover-effect:hover:after{
    opacity: 1;
    cursor: pointer;
}

.fa-adjust{
    font-size: 20px;
}

/* LANDING PAGE */

#landing-page{
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    margin: 30px;
}

.title{
    font-size: 120px;
}

.header__para{
    width: 450px;
    font-size: 24px;
    line-height: 2;
}

.title--secondary,
.orange{
    color: orange;
    font-weight: bold;
}

.socials{
    display: flex;
    margin-top: 10px;
}

.social__link{
    text-decoration: none;
    background-color: orange;
    border-radius: 50%;
    padding: 6px;
    margin: 6px;
    transition: all ease 300ms;
}

.social__link i{
    font-size: 16px;
    color: white;
}

.social__link:hover{
    transform: scale(1.1);
}

/* PROJECTS */

#projects{
    position: relative;
}

.project{
    margin-bottom: 150px;
}

.project__img{
    width: 100%;
    transition: all ease 400ms;
}

.project__wrapper{
    box-shadow: 0 20px 80px rgba(0,0,0,0.7);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.project__wrapper:before{
    content: "";
    position: absolute;
    z-index: 1;
    height: auto;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #242424;
    opacity: 0;
    transition: all ease 400ms;
}

.project__description--container{
    position: absolute;
    z-index: 2;
    width: 550px;
    bottom: -150px;
    left: 100px;
    color: white;
    line-height: 1.5;
    opacity: 0;
    transition: all ease 400ms;
}

.project__languages{
    font-weight: bold;
    margin-bottom: 20px;
}

.project:hover .project__img{
    transform: scale(1.1);
}

.project:hover .project__wrapper:before{
    opacity: 0.7;
}

.project:hover .project__description--container{
    transform: translateY(-350px);
    opacity: 1;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 0;
    background-color: #242424;
}

.footer__links{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    width: 450px;
}

.footer__link{
    color: white;
    position: relative;
    cursor: pointer;
    
}

.footer__link:after{
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 3px;
    bottom: -3px;
    right: 0;
    transition: all 300ms;
}

.footer__link:hover:after{
    width: 100%;
    left: 0;
    transition: all 300ms;
}

.footer__link.last__link{
    margin: 0;
}

.logo__container.footer{
    width: auto;
    margin-left: 0;
}

#personal-logo-footer{
    width: 70px;
    height: 70px;
}

.footer__copyright{
    color: white;
}



@media (max-width: 768px){
    
    .header{
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;
        margin: 30px;
    }

    .header__para{
        font-size: 20px;
        width: 450px;
    }
    
    .title{
        font-size: 70px;
    }

    .project__description--container{
        width: 80%;
    }

    .project:hover .project__description--container{
        transform: translateY(-230px);
        opacity: 1;
    }
}

@media (max-width: 526px){
    .footer__links{
        width: 85%;
    }
}

@media (max-width: 478px){
    
    .header{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;
        margin: 30px;
    }

    .title{
        font-size: 46px;
    }

    .header__para{
        font-size: 18px;
        width: 400px;
    }
    
    .project__description{
        display: none;
    }
}