@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

.container{
    padding: 50px 0;
    width: 100%;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

li{
    list-style-type: none;
}

section{
    background-color: rgb(245, 245, 245);
}

p{
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

input, textarea{
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

label{
    font-size: 14px;
    font-weight: bold;
}

textarea{
    height: 100px;
    resize: vertical;
    margin-top: 8px;
}


input:hover, textarea:hover{
    border-color: #dcdfe6;
}

input:focus, textarea:focus{
    border-color: #f06449;
}

/* NAVIGATION */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.logo__container{
    margin-left: 30px;
    width: 3%;
}

#personal-logo{
    width: 50px;
    height: 50px;
    filter: invert(1);
}



.nav__link--list{
    
    display: flex;
    margin-right: 40px;
    
}

.nav__link{
    margin: 0 12px;
    cursor: pointer;
}

.nav__link a{
    font-weight: bold;
}

.nav__link--anchor{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #242424;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 3px;
    transition: all 300ms;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
    transition: all 300ms;
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect--white:after{
    background-color: white;
}

.fa-adjust{
    font-size: 20px;
}

/* LANDING PAGE */

#landing-page{
    min-height: 100vh;
    position: relative;
}

.header{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    margin: 30px;
    padding: 0 30px;
}

.title{
    font-size: 120px;
}

.header__para{
    max-width: 450px;
    font-size: 24px;
    line-height: 2;
}

.orange{
    color: orange;
    font-weight: bold;
}

.social__list{
    display: flex;
    margin-top: 16px;
}

.social__link{
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 6px;
    margin: 6px;
    transition: all ease 300ms;
}

.social__link i{
    font-size: 16px;
    
}

.social__link:hover{
    transform: scale(1.1);
}

.social__link:click{
    transform: scale(0.8);
}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 1px solid black;
    border-radius: 24px;
    position: relative;
}

.scroll__icon:after{
    position: absolute;
    left: 40%;
    top: 25%;
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    animation: scroll-bar 1000ms infinite alternate-reverse;
}

@keyframes scroll-bar {
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(6px);       
    }
}

.mail__btn{
    border-radius: 50%;
    padding: 24px;
    position: fixed;
    z-index: 3;
    top: 630px;
    left: 1430px;
    background-color: black;
    color: white;
    transition: all 300ms ease;
}

.mail__btn:hover{
    transform: scale(1.1);
}

/*

MODAL

*/

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    box-shadow: 0 20px 80px 0;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.modal__half{
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__about{
    background-color: white;
    
}

.modal__title{
    font-size: 26px;
}

.modal__sub-title{
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para{
    margin-bottom: 12px;
    line-height: 1.75;
}

.orange{
    color:orange;
}

.modal__languages{
    display: flex;
    flex-wrap: wrap;
}

.language{
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(100%/4);
}

.language__img--wrapper{
    width: 50%;
    margin: 8px;
    transition: all 300ms ease;
    padding: 8px;
}

.language:hover .language__img--wrapper{
    transform: scale(0.9);
    filter: brightness(80%);
}

.language__name{
    position: absolute;
    bottom: -20px;
    opacity: 0;
    transform: scale(0.2);
    transition: all 300ms ease;
    font-size: 12px;
}

.language:hover .language__name{
    transform: translateY(-20px);
    opacity: 1;
}

.language__img{
    width: 100%;
}

.modal__contact{
    background-color: #242424;
    color: white;
}

/*form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}*/

.form__item{
    margin-bottom: 20px;
}

.form__submit{
    padding: 12px 52px;
    background-color: #f06449;
    border: solid 2px #f06449;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    max-width: 240px;
    width: 100%;
    transition: all 300ms ease;
}

.form__submit:hover{
    background-color: transparent;
    border: solid 2px white;
}

.form__submit:active{
    border-color: #f06449;
    color: #f06449;
}

/* PROJECTS */

#projects{
    position: relative;
}

.project{
    margin-bottom: 150px;
}

.project__img{
    width: 100%;
    transition: all ease 400ms;
}

.project__wrapper{
    box-shadow: 0 20px 80px rgba(0,0,0,0.7);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.project__wrapper:before{
    content: "";
    position: absolute;
    z-index: 1;
    height: auto;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #242424;
    opacity: 0;
    transition: all ease 400ms;
}

.project__description--container{
    position: absolute;
    z-index: 2;
    width: 550px;
    top: 50%;
    transform: translateY(100%);
    left: 100px;
    color: white;
    line-height: 1.5;
    opacity: 0;
    transition: all ease 400ms;
}

.project__languages{
    font-weight: bold;
    margin-bottom: 20px;
}

.links{
    display: flex;
}

.project__description--link{
    margin-right: 20px;
    color: white;
    font-size: 16px;
}

.project:hover .project__img{
    transform: scale(1.1);
    filter: blur(5px);
}

.project:hover .project__wrapper:before{
    opacity: 0.7;
}

.project:hover .project__description--container{
    transform: translateY(-50%);
    opacity: 1;
}

/*

FOOTER

*/

footer{
    background-color: #242424;
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0;    
}

.logo__container.footer{
    width: auto;
    margin-left: 0;
}

#personal-logo-footer{
    width: 70px;
}

.footer__links{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    width: 100%;
    max-width: 500px;
}

.footer__social--link{
    color: white;
    position: relative;
    cursor: pointer;
    
}



.footer__link.last__link{
    margin: 0;
}


.footer__copyright{
    color: white;
}



@media (max-width: 768px){
    
    .header{
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;
        margin: 30px;
    }

    .header__para{
        font-size: 20px;
        width: 450px;
    }
    
    .title{
        font-size: 70px;
    }

    .project__description--container{
        width: 80%;
    }

    .project:hover .project__description--container{
        transform: translateY(-230px);
        opacity: 1;
    }
}

@media (max-width: 526px){
    .footer__links{
        width: 85%;
    }
}

@media (max-width: 478px){
    
    .header{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1000px;
        margin: 30px;
    }

    .title{
        font-size: 46px;
    }

    .header__para{
        font-size: 18px;
        width: 100%;
        max-width: 300px;
    }
    
    .project__description{
        display: none;
    }

    .nav__link--mobile{
        opacity: 0;
    }
}